.booking {
  border-top: 1px solid #EEEEEE;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.booking__content {
  margin: 32px 0 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.order__data {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
}
.order__data .text,
.order__data .text-small {
  flex: 1 0 auto;
}

.text-small{
  color: #999999;
  text-align: right;
}

.order__data .dots {
    flex: 0 1 auto;
}

.dots::before {
    display: inline-block;
    height: 1em;
    color: #999999;
    overflow: hidden;  
    padding: 0 12px;
    text-overflow: clip;
    content:
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
}

.prise:after { 
  content:" \20BD"; 
}

.prise {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 32px 0;
}

.btn__booking {
  flex: 1 1 auto;
  margin-bottom: 32px;
  .btn {
    border-radius: 8px;
    width: 100%;
  }
}

.exit__btn {
  background: linear-gradient(90deg, #493013 0%, #7B0C3B 100%);
}

@media screen and (min-width: 1024px) {

  .booking {
    flex: 0 0 auto;
    border: none;
    border-left: 1px solid #EEEEEE;
    width: 320px;  
    flex-direction: column;
  }

  .booking__content {
    margin: 32px 0 0 32px;
  }

  .prise {
    margin: 32px 0 32px 32px;
  }

  .btn__booking {
      margin-left: 32px;
  }
}